<?php 
require_once('src/controllers/acl.php');
?>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="google-site-verification=IIU6Qekea62kg5o0ry2Kz8LHZ1kGPOkWoeckeDCOb9Y" />
    <title>MyCave</title>
    <link rel="stylesheet" href="public/css/style.min.css" />
    <link rel="stylesheet" href="public/css/mystyle.css" />
    <link rel="stylesheet" href="public/css/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/public/img/img_key/icon.png" />
  </head>
<body class="bg-secondary" style="position: absolute;
                                  top: 0;
                                  left: 0;
                                  right: 0;
                                  bottom: 0;
                                  display: flex;
                                  justify-content: space-between;
                                  flex-direction: column;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.php"><img src="public\img\img_key\logo-large.png" alt="logo-large"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <h2 style="font-family: 'Playball', cursive;">Partez à la découverte des plus belles collections de vins du monde </h2>
            </ul>
          </div>
        </div>
    </nav>
    <main class="container">
        <?php echo $content; ?>
    </main>
    <div class="container-fluid">
      <footer class="row"  style="background-color: rgb(0, 0, 0)">
        <div class="col-md-4">
          <p class="text-center text-white">Pour nous contacter : support@mycave-amine.fr<br>Mycave SAS, 50 rue d'Hauteville, 75010 Paris<br>tél. : 01 76 39 00 60.</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-center text-white">Conditions Générales d’Utilisation</h3>
          <h5 class="text-center text-white">Conditions Générales de Vente</h3>
          <h5 class="text-center text-white">copy right © 2021 mycave-amine </h4>
        </div>
        <div class="col-md-4">
              <?php if(isset($_SESSION['role'])): ?>
              <a class="text-center text-decoration-none text-white"  href="src/controllers/logout.php"><h4>Se déconnecter</h4></a>
              <?php else: ?>
              <a class="text-center text-decoration-none text-white" href="admin.php"><h4>Administrateur</h4></a>
              <?php endif ?>
        </div>
      </footer>
    </div>
    <script src="public/js/bootstrap.min.js"></script>
</body>
</html>